<ng-container *ngIf="userInfo && userAlbums">
  <div class="container w-100">
    <div class="row justify-content-center align-items-center gap-4 p-3">
      <div class="col">
        <app-user-header [userInfo]="userInfo"></app-user-header>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gx-0">
      <ng-container *ngFor="let album of userAlbums">
        <div class="col p-3 d-flex justify-content-center align-items-center">
            <app-album-card [albumInfo]="album"></app-album-card>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
