<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image">
        <!--logo-->
        <div class="logo"><span>P</span>IX</div>
        <div class="text">
          <p>Join our artists community - <i>PIX</i></p>
        </div>
      </div>
      <form class="col-md-6 right">
        <div class="input-box">
          <header>Sign Up</header>
          <div class="input-field">
            <input
              type="text"
              id="first-name"
              class="input"
              required
              autocomplete="off"
            />
            <label for="email">First Name</label>
          </div>
          <div class="input-field">
            <input
              type="text"
              id="last-name"
              class="input"
              required
              autocomplete="off"
            />
            <label for="email">Last Name</label>
          </div>
          <div class="input-field">
            <input type="submit" class="submit" value="Next   " />
            <img
              src="assets/icons/caret-right-bold.png"
              class="next-icon"
              alt=""
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
