<section class="container header-container">
  <header>
    <div routerLink="/" class="logo"><span>P</span>IX</div>
    <ul [class.menu]="isOpened" (click)="handleClick($event)">
      <li routerLink="/">Home</li>
      <li>Offers</li>
      <li>Contact Us</li>
      <li>Currency</li>
      <li>Language</li>
      <li routerLink="/login" *ngIf="!loggedIn">Sign In</li>
      <li routerLink="/signup" *ngIf="!loggedIn">Sign Up</li>
      <li *ngIf="loggedIn" (click)="logOut()">
        Log Out
      </li>
    </ul>
    <img src="assets/icons/list-bold.svg" (click)="toggleClass()" alt="" />
  </header>
</section>
