header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: #09946f;
  user-select: none;
  cursor: pointer;
}

.logo span {
  padding: 0 2px;
  background-color: #09946f;
  color: white;
  border-radius: 5px;
}

ul {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

li {
  cursor: pointer;
  border-bottom: 2px solid white;
  transition: all 0.3s ease-in-out;
  padding: 5px 0;
  color: #808080;
}

li:hover {
  border-bottom-color: #09946f;
  color: #09946f;
}

header img {
  cursor: pointer;
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  ul {
    display: none;
  }

  header img {
    display: block;
  }
}

ul.menu {
  width: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.99);
  right: 60px;
  top: 60px;
  z-index: 1;
}

ul.menu li {
  border: none;
}

ul.menu li:hover {
  padding-left: 5px;
  border: none;
}
