<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Artist Information</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myValidation" class="row" novalidate>
      <div class="form-outline mb-4">
        <label for="name" class="ps-2 h6"> Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': userError }"
          placeholder="eg: john Doe"
          required
        />
        <label for="name" class="invalid-feedback ps-3">
          Invalid Name: At least 3 letters.</label>
      </div>

      <div class="form-outline mb-4">
        <label for="email" class="ps-2 h6">Email</label>
        <input
          formControlName="email"
          type="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': emailError }"
          placeholder="eg: johndoe@example.com"
          required
        />
        <label for="email" class="invalid-feedback ps-3"
          >Invalid Email: Must be example@host.com</label
        >
      </div>

      <div class="form-outline mb-4">
        <input
          formControlName="phone"
          type="text"
          placeholder="eg: 0123456789"
          class="form-control"
          [ngClass]="{ 'is-invalid': phoneError }"
          required
        />
        <label for="phone" class="invalid-feedback ps-3">
          Invalid userName: This field is required.</label>
      </div>

      <label for="address" class="ps-3 h6">Address</label>
      <div class="form-outline col-4 mb-4">
        <input
          formControlName="city"
          type="text"
          placeholder="City"
          class="form-control"
          [ngClass]="{ 'is-invalid': addressError }"
          required
        />
      </div>
      <div class="form-outline col-5 mb-4">
        <input
          formControlName="street"
          type="text"
          placeholder="Street"
          class="form-control"
          [ngClass]="{ 'is-invalid': addressError }"
          required
        />
      </div>
      <div class="form-outline col-3 mb-4">
        <input
          formControlName="suite"
          type="text"
          placeholder="Suite"
          class="form-control"
          [ngClass]="{ 'is-invalid': addressError }"
          required
        />
      </div>
        <label for="phone" class="invalid-feedback ps-3"
          >Invalid Address: This field is required.</label
        >


      <div
        class="d-flex flex-column align-items-center justify-content-center pb-4 text-center"
      >
        <button
          type="sumbit"
          name="add"
          class="btn btn-outline-custom"
          [ngClass]="{
            'is-valid btn-outline-custom ': additionSuccess,
            'btn-outline-danger': !additionSuccess
          }"
          (click)="editUser()"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-outline-success" type="button" (click)="open(content,$event)">
  <i class="fa-solid fa-pen"></i>
</button>

