<section class="home">
  <div class="container">
    <article class="cards">
      <div class="card">
        <img src="assets/images/home2.jpg" alt="" />
        <div class="desc">description goes here</div>
      </div>
      <div class="card">
        <img src="assets/images/home3.jpg" alt="" />
        <div class="desc">description goes here</div>
      </div>
      <div class="card">
        <img src="assets/images/home1.jpg" alt="" />
        <div class="desc">description goes here</div>
      </div>
    </article>
    <article class="heading">
      <div class="heading">Welcome to our gallery!</div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis incidunt
        sint minus, similique nulla magnam dicta quod praesentium sunt ducimus
        mollitia animi amet rerum ipsum hic iure adipisci assumenda rem.
      </p>
      <div class="button" routerLink="/users">Let's Go</div>
    </article>
  </div>
</section>
