div[class~="container-fluid"]{
  padding: 0;
}
img{
  max-width: 5vw;
}
div[class~="card"]:hover{
  background-color: hsla(192, 43%, 35%, 0.5);
  cursor: pointer;
}
div[class~="card"]:active{
  background-color: hsla(192, 43%, 35%, 1);
  color:whitesmoke;
}

