div[class~="container-fluid"]{
  padding: 0;
}
img{
  width: 6rem !important;
}
div[class~="card"]:hover{
  background-color: #eee;
  cursor: pointer;
}
div[class~="card"]:active{
  background-color: #ddd;
}

.myheader {
  background-color: #ddd !important;
}

.table-head {
  background-color: #ddd;
}

.text-custom {
  color: var(--primary-color);
}
