<div class="container-fluid">
  <div class="row gx-0 d-flex align-items-center justify-content-center">
    <header class="navbar justify-content-end sticky-top navbar-outline-light bg-light px-5 mb-3 myheader">
      <app-add-user (dataEvnt)="dataReady($event)"></app-add-user>
    </header>
    <main class="col-8">
      <div
        class="d-none d-md-flex flex-row align-items-center justify-content-evenly border border-1 p-2 table-head rounded-3"
      >
        <div
          class="card-body d-flex flex-column flex-md-row align-items-center justify-content-evenly text-dark text-center"
        >
          <h5 class="m-0 p-1">Name</h5>
          <h5 class="m-0 p-1">Email</h5>
          <h5 class="m-0 p-1">Phone</h5>
          <h5 class="m-0 p-1">Address</h5>
        </div>
      </div>
      <div *ngFor="let user of Users" class="my-3">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-evenly card p-3 rounded-3 " routerLink="/users/{{user.id}}/albums" (click)="selectUser()">
          <img
            class="rounded-circle shadow-4-strong  ms-2"
            src="assets/icons/profile.png"
            alt="avatar"
          />
          <div
            class="card-body d-flex flex-column flex-md-row align-items-center justify-content-between text-wrap text-break text-center"
          >
            <h6 class="my-2 my-md-0 mx-0 mx-md-2">{{ user.name }}</h6>
            <h6 class="my-2 my-md-0 mx-0 mx-md-2">{{ user.email }}</h6>
            <h6 class="my-2 my-md-0 mx-0 mx-md-2">{{ user.phone }}</h6>
            <h6 class="my-2 my-md-0 mx-0 mx-md-2">
              {{ user.address.street }} st. - {{ user.address.city }}
            </h6>
          </div>
          <div class="d-flex flex-row gap-2 justify-content-between">
            <app-edit-user [userData]="user" (dataUpdated)="update($event)"></app-edit-user>
            <app-delete-user></app-delete-user>
          </div>

        </div>
      </div>
    </main>
  </div>
</div>
