@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap');

:root {
  --primary-color: #2338B0;
  --secondary-color: #1F3199;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend', Arial, Helvetica, sans-serif !important;
}

.container {
  margin: 0 60px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0 !important;
}
